{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Pardot plugin for Craft CMS 3.x
 *
 * Pardot Settings.twig
 *
 * @author    Craig Roy
 * @copyright Copyright (c) 2020 Craig Roy
 * @link      http://croy.solutions/
 * @package   Pardot
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("croy37\\pardot\\assetbundles\\pardot\\PardotAsset") %}

{{ forms.textField({
    label: 'Email',
    instructions: 'Enter email',
    id: 'email',
    name: 'email',
    value: settings['email']})
}}

{{ forms.textField({
    label: 'Password',
    instructions: 'Enter password',
    id: 'pardotPassword',
    name: 'pardotPassword',
    value: settings['pardotPassword']})
}}

{{ forms.textField({
    label: 'User Key',
    instructions: 'Enter user key',
    id: 'pardotUserKey',
    name: 'pardotUserKey',
    value: settings['pardotUserKey']})
}}

{{ forms.textField({
    label: 'From Email',
    instructions: 'Enter from email',
    id: 'fromEmail',
    name: 'fromEmail',
    value: settings['fromEmail']})
}}

{{ forms.textField({
    label: 'From Name',
    instructions: 'Enter user key',
    id: 'fromName',
    name: 'fromName',
    value: settings['fromName']})
}}

{#EN#}
{{ forms.textField({
    label: 'Enter Campaign Id',
    instructions: 'Enter Campaign Id',
    id: 'campaignId',
    name: 'campaignId',
    value: settings['campaignId']})
}}

{{ forms.textField({
    label: 'Enter List Id',
    instructions: 'Enter List Id',
    id: 'listId',
    name: 'listId',
    value: settings['listId']})
}}

{{ forms.textField({
    label: 'Email Template Id',
    instructions: 'Enter Email Template Id',
    id: 'emailTemplateId',
    name: 'emailTemplateId',
    value: settings['emailTemplateId']})
}}

{#FR#}
{{ forms.textField({
    label: 'Enter Campaign Id',
    instructions: 'Enter Campaign Id',
    id: 'campaignIdFr',
    name: 'campaignIdFr',
    value: settings['campaignIdFr']})
}}

{{ forms.textField({
    label: 'Enter List Id',
    instructions: 'Enter List Id',
    id: 'listIdFr',
    name: 'listIdFr',
    value: settings['listIdFr']})
}}

{{ forms.textField({
    label: 'Email Template Id',
    instructions: 'Enter Email Template Id',
    id: 'emailTemplateIdFr',
    name: 'emailTemplateIdFr',
    value: settings['emailTemplateIdFr']})
}}
